/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,300,500,600);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* All Purpose*/
body {
  background: #ffffff;
  font-family: Raleway, sans-serif;
  font-size: 2em;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #000;
}

/* Navigation */
.NavWrap {
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.Nav {
  width: 100%;
  display: flex;
  margin-top: 3%;
  border-bottom: 1px solid #ccc;
}

.Nav a {
  display: block;
  float: left;
}

.nav-button {
  cursor: pointer;
  padding: 0.5em 1.3em;
  transition: all 0.15s ease-in-out;
  border-bottom: 3px solid rgba(30, 97, 30, 0);
  float: left;
}

.nav-button:hover {
  color: #3e83d1;
  border-bottom: 3px solid #3e83d1;
}

.nav-button:active {
  position: relative;
  top: 1px;
}

/* Container */
.GlobalContainer {
  max-width: 1920px;
  min-width: 1000px;
  margin: auto;
}

.BacktoTop {
  position: fixed;
  bottom: 10px;
  right: 30px;
}

/* Multi Use */
i {
  margin: 10px 11px 12px 13px;
}

.SectionContainer {
  width: 1000px;
  min-height: 100px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

.SectionHeader {
  width: 100%;
  display: flex;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

/* Section 1 Portfolio */
.browser-mockup {
  border-top: 2em solid rgba(230, 230, 230, 0.7);
  border-bottom: 3px solid rgba(230, 230, 230, 0.7);
  border-radius: 15px 15px 0 0;
  position: relative;
  background: #ffffff;
  box-shadow: 0 0.1em 0em 0 rgba(0, 0, 0, 0.4);
  background: url(../Images/BoshamPlay.jpg) no-repeat;
  background-position: center;
  height: 400px;
}

.browser-mockup:before {
  display: block;
  position: absolute;
  content: '';
  top: -1.25em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}

.Overlay {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  overflow: hidden;
}

.Overlay:hover {
  background-color: rgba(255, 255, 255, 0.81);
  z-index: -69;
}

.Overlay:hover .Link-Site {
  opacity: 1;
}

.Link-Site {
  width: 100px;
  height: 100px;
  border: 10px solid rgba(200, 200, 200, 0.55);
  border-radius: 10px;
  opacity: 0;
  font-size: 50px;
  color: #c8c8c8;
  transition: 0.5s;
  margin: 140px auto;
}

.Link-Site a {
  display: block;
}

.Link-Site i {
  padding: 12px;
}

.Link-Site:hover {
  border-color: #3e83d1;
  color: #3e83d1;
}

/* Section 2 Slills/Methods*/
.SkillContainer {
  width: 100%;
  height: 161px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.SkillWrap {
  max-width: 1000px;
  height: 100%;
  margin: auto;
}

.SkillWrap img {
  height: 100%;
  margin: 0px 10px;
  background: transparent;
}

/* Section 3 Expirence*/
.Portrate {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  width: 200px;
  margin: 50px auto;
  height: 200px;
}

.AboutIntro {
  text-align: center;
}

.AboutIntro a {
  color: #5395E0;
  border-bottom: 1px solid #5395E0;
}

.AboutIntro a:hover {
  color: #3e83d1;
  border-bottom: 1px solid #3e83d1;
}

.AboutIntro a, .AboutIntro p {
  font-size: 30px;
}

/* Section 4 Contact*/
.Contact p {
  margin: 25px;
  text-align: center;
  font-size: 25px;
}

.SocialWrap {
  width: 206px;
  margin: auto;
  color: #222;
  transition: all 0.15s ease-in-out;
}

.SocialWrap i {
  transition: all 0.15s ease-in-out;
  float: left;
}

#facebook {
  color: #3B5998;
}

#twitter {
  color: #00ACED;
}

#youtube {
  color: #CD332D;
}

#github {
  color: #999999;
}

/* Template Portlolio*/
.Portfolio {
  font-size: 16px;
  color: #444444;
  text-align: center;
}

.Portfolio .Slider {
  height: 398px;
}

.Portfolio .Wrap {
  margin: 0 100px;
}

.Portfolio p {
  font-size: 24px;
  line-height: 33px;
}

.Portfolio h3 {
  margin: 10px 0;
}

.Portfolio .ProjectSlider {
  width: 960px;
  height: 400px;
  margin: 0;
}
