
@import "Mixin.scss";
@import "Color.scss";
@import "reset.scss";

/* All Purpose*/

@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,300,500,600);

body{
  background: #ffffff;
  font-family: Raleway, sans-serif;
  font-size: 2em;
  font-weight: 300;
}

a{
  text-decoration: none;
  color:#000;
}

/* Navigation */

.NavWrap{
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.Nav {
  width: 100%;
  display: flex;
  margin-top: 3%;
  border-bottom: 1px solid #ccc;

  a{
    display: block;
    float: left;
  }
}

.nav-button {
  cursor: pointer;
  padding: 0.5em 1.3em;
  transition: all 0.15s ease-in-out;
  border-bottom: 3px solid rgba(30, 97, 30, 0);
  float: left;

  &:hover {
    color: $ActiveColor;
    border-bottom: 3px solid $ActiveColor;
  }

  &:active {
    position: relative;
    top: 1px;
  }
}

/* Container */
.GlobalContainer{
  max-width: 1920px;
  min-width: 1000px;
  margin: auto;
}

.BacktoTop{
  position: fixed;
  bottom: 10px;
  right: 30px;
}

/* Multi Use */

i{
  margin: 10px 11px 12px 13px;
}

.SectionContainer{
  width: 1000px;
  min-height: 100px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

.SectionHeader{
  width: 100%;
  display: flex;
  border-top: 1px solid #ccc;;
  border-bottom: 1px solid #ccc;
}

/* Section 1 Portfolio */

.browser-mockup {
  border-top: 2em solid rgba(230, 230, 230, 0.7);
  border-bottom: 3px solid rgba(230, 230, 230, 0.7);
  border-radius: 15px 15px 0 0;
  position: relative;
  background: #ffffff;
  box-shadow: 0 0.1em 0em 0 rgba(0, 0, 0, 0.4);
  background: url(../Images/BoshamPlay.jpg) no-repeat;
  background-position: center;
  height: 400px;

  &:before {
    display: block;
    position: absolute;
    content: '';
    top: -1.25em;
    left: 1em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: #f44;
    box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
  }
}

.Overlay{
  width: 100%;
  height: 100%;
  transition: 0.5s;
  overflow: hidden;

  &:hover{
    background-color: rgba(#ffffff, 0.81);
    z-index: -69;

    .Link-Site{
      opacity: 1;
    }
  }


}
.Link-Site{
  width: 100px;
  height: 100px;
  border: 10px solid rgba(200, 200, 200, 0.55);
  border-radius: 10px;
  opacity: 0;
  font-size: 50px;
  color:rgba(200, 200, 200, 1);
  transition: 0.5s;
  margin: 140px auto;

  a{
    display: block;
  }

  i{
    padding:12px;

  }

  &:hover{
    border-color: $ActiveColor;
    color: $ActiveColor;
  }
}

/* Section 2 Slills/Methods*/
.SkillContainer{
  width: 100%;
  height: 161px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.SkillWrap{
  max-width: 1000px;
  height: 100%;
  margin: auto;

  img {
    height: 100%;
    margin: 0px 10px;
    background: rgba( 0,0,0,0);
  }
}

/* Section 3 Expirence*/

.Portrate{
  @include border-radius(50%);
  width: 200px;
  margin: 50px auto;
  height: 200px;
}

.AboutIntro{
  text-align: center;

  a{
    color: #5395E0;
    border-bottom: 1px solid #5395E0;

    &:hover{
      color: $ActiveColor;
      border-bottom: 1px solid $ActiveColor;
    }
  }

  a,p{
    font-size:30px;
  }
}

/* Section 4 Contact*/

.Contact{

  p{
    margin: 25px;
    text-align: center;
    font-size: 25px;
  }
}

.SocialWrap{
  width: 206px;
  margin: auto;
  color: #222;
  transition: all 0.15s ease-in-out;

  i{
    transition: all 0.15s ease-in-out;
    float: left;
  }
}

#facebook{
  color: #3B5998;
}

#twitter{
  color: #00ACED;
}

#youtube{
  color: #CD332D;
}

#github{
  color: #999999;
}

/* Template Portlolio*/

.Portfolio {

  font-size: 16px;
  color: #444444;
  text-align: center;

  .Slider {
    height: 398px;
  }

  .Wrap{
    margin: 0 100px;
  }

  p {
    font-size: 24px;
    line-height: 33px;
  }

  h3 {
    margin: 10px 0;
  }

  .ProjectSlider {
    width: 960px;
    height: 400px;
    margin: 0;
  }
}
